*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container{
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 550px;
   border: 10px solid rgba(47, 47, 47, 1);
   background-color: black;
}

#display{
    width: 100%;
    height: 100px;
    background-color: #b2b9b7;
    margin-bottom: 8px;
}

.calc-buttons{   
    display: flex;
    
}

button{
    font-size: 24px;
}

.numbers{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
    width: 80%;
    flex-wrap: wrap;
}

.operators{
    
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.number{
    width: 32%;
    height: 80px;
    margin: 2px;
}

.zero{
    width: 65%;
}

.operation{
    width: 100px;
    height: 100%;
    margin: 1px 0px;
}


.end-functions{
    display: flex;
    flex-direction: row;
    margin: 1px 2px;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
}
.clear{
    width: 100%;
    margin: 1px 2px;
    padding: 6px 6px;
}

.equal{
    width: 100%;
    margin: 1px 2px;
    padding: 6px 6px;
}

/* DISPLAY */

#display{
    font-size: 80px;
   
    display: flex;
    justify-content: end;
    align-items: end;
}